<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <link rel="stylesheet" href="/temp.css">
  <title>會員專區(一般)</title>
</head>

<body>
  <nav>我的導覽列</nav>
  <div class="row">
    <aside class="col-3">
      <h1>會員專區</h1>
      <ul>
        <li><a href="/member/index/<%= uid %>">會員資料</a></li>
        <li><a href="/member/orderList/<%= uid %>">我的訂單</a></li>
        <li><a href="#">按讚攤位</a></li>
        <li><a href="/member/chat/<%= uid %>">聊天室</a></li>
      </ul>
    </aside>
    <main class="col-9">
      <!-- http://localhost:3200/member/index/3 -->
      <div>
        <h1>我的訂單</h1>
      </div>

      <div>

      </div>

    </main>
  </div>
  <footer>我的footer</footer>
</body>

</html>